version: '3.8'

services:
  backend:
    image: ${DOCKERHUB_USERNAME}/soundstorm-backend:latest
    container_name: soundstorm-backend
    restart: always
    expose:
      - "5000"

  frontend:
    image: ${DOCKERHUB_USERNAME}/soundstorm-frontend:latest
    container_name: soundstorm-frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
