name: Deploy Soundstorm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          port: 22
          script: |
            export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
            cd /home/${{ secrets.SERVER_USER }}/test-front-deploy
            echo "DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME"
            docker compose -f docker-compose.yml pull
            docker compose -f docker-compose.yml down --remove-orphans
            docker compose -f docker-compose.yml up -d --build
