name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/soundstorm-backend:latest ./backend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/soundstorm-backend:latest

      - name: Build and push frontend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/soundstorm-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/soundstorm-frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /home/${{ secrets.SERVER_USER }}/soundstorm
            export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
            docker rm -f soundstorm-frontend soundstorm-backend || true
            docker-compose down
            docker-compose pull
            docker-compose up -d

  nikto-scan:
    name: Nikto Scan
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Install Nikto
        run: sudo apt-get update && sudo apt-get install -y nikto
      - name: Run Nikto Scan
        run: nikto -h https://soundstorm.pp.ua -output nikto_report.txt
      - name: Upload Nikto Report
        uses: actions/upload-artifact@v4
        with:
          name: nikto-report
          path: nikto_report.txt

  wapiti-scan:
    name: Wapiti Scan
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Install Wapiti
        run: pip install wapiti3
      - name: Run Wapiti Scan
        run: wapiti -u https://soundstorm.pp.ua -o wapiti_report
      - name: Upload Wapiti Report
        uses: actions/upload-artifact@v4
        with:
          name: wapiti-report
          path: wapiti_report
